h3{
    font-size:35px !important;
    }
    
    .btn-warning:hover
    {
        background-color:aquamarine;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: darkgoldenrod;
    }
    
    Canvas{
      box-shadow:1px 1px 80px darkcyan;
    }
    